html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html * {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --blue: #0070f3;
  --green: #50e3c2;
  --gray: #f1f1f1;
  --red: #ee0000;
  --light-red: #f7d4d6;
  --b-radius: 5px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.link {
  color: var(--blue);
  text-decoration: none;
}

.empty_link {
  text-decoration: none;
  color: black;
}
