.question {
  border: 1px solid black;
  border-radius: var(--b-radius);
  margin-top: 4rem;
  padding: 0 5rem 0 5rem;
}

.header_two {
  display: grid;
  grid-template-areas: "left left right";
}

.header_left {
  grid-area: left;
}

.header_right {
  grid-area: right;
  margin-top: 0.25rem;
}

.header_right > button {
  float: right;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: var(--b-radius);
  padding: 0.5rem 1rem;
  color: white;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image {
  max-width: 75%;
  width: 75%;
  border-radius: var(--b-radius);
  margin-top: 2rem;
}

.description {
  font-size: 20px;
}

.img_container {
  text-align: center;
}

.add {
  margin-top: 1rem;
  background-color: var(--blue);
  color: white;
  border-radius: var(--b-radius);
  border: 1px solid var(--blue);
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
}

.input_div {
  border: 1px solid black;
  border-radius: var(--b-radius);
  margin-top: 1rem;
  padding: 1rem 1rem;
}

.label {
  font-size: 20px;
}

.input {
  margin-top: 1rem;
  width: 97%;
  border: 1px solid black;
  border-radius: var(--b-radius);
  font-size: 18px;
  padding: 0.5rem 1rem;
}
